* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  padding: 2rem;
  margin: 1rem auto;
  max-width: 800px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input, textarea, button {
  font-family: inherit;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #c4ddef;
  margin-top: 2rem;
}


#featured a {
  display: inline-block;  
  margin-top: 1rem; 
  padding: 0.5rem 1rem;
  background-color: #4CAF50; 
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

#featured a:hover {
  background-color: #45a049;  
}

.featured-content {
  display: flex;
  flex-direction: column;  
  align-items: center; 
  gap: 1rem;  
}

.featured-content img {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
}

.featured-content a {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.featured-content a:hover {
  background-color: #45a049;
}

#featured {
  background-color: #d7eef4;
}


h2 {
  color: #2c3e50;
  margin-bottom: 1rem;
  padding-bottom: 0.3rem;      
  border-bottom: 2px solid #452ae0ff; 
}


h3 {
  color: #4c8fd2ff;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

label {
  font-weight: bold;
}
